<?php require_once ROOT_PATH."view/admin/header.html"  ?>
<a href="add.php" class="btn btn-success">+添加用户</a>
<hr>
<table class="table   table-hover">
    <tr>
        <td>id</td>
        <td>Name</td>
        <td>头像</td>
        <td>性别</td>
        <td>Address</td>
        <td>操作</td>
    </tr>
    <?php foreach($data as $item) :?>
    <tr>
        <td><?=$item['id']?></td>
        <td><?=$item['name']?></td>
        <td><img src="<?='../../public/upload/'.$item['image']?>" height="50px" width="50px"></td>
        <?php if($item['sex']==1) :?>
        <td>男 </td>
        <?php else :?>
        <td>女 </td>
        <?php endif ?>
        <td><?=$item['address']?></td>
        <td>
          <form action="delete.php" method="post">
              <input type="hidden" name="id" value="<?=$item['id']?>">
              <a href="show.php?id=<?=$item['id']?>" class="btn btn-primary">详情</a>
              <a href="edit.php?id=<?=$item['id']?>" class="btn btn-info">编辑</a>
              <input type="submit" value="删除" class="btn btn-danger" onclick="return confirm('你确定要删除吗')">

          </form>
        </td>
    </tr>
    <?php endforeach; ?>
</table>

<?php require_once ROOT_PATH."view/admin/footer.html"  ?>