<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <title>Flower Shop</title>
    <link rel="stylesheet" type="text/css" href="../../public/front/css/style.css" />
</head>
<body>
<div id="wrap">

    <div class="header">
        <div class="logo"><a href="index.html"><img src="../../public/front/image/logo.gif" alt="" title="" border="0" /></a></div>
        <div id="menu">
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="about.html">about us</a></li>
                <li><a href="category.html">flowers</a></li>
                <li><a href="specials.html">specials gifts</a></li>
                <li><a href="myaccount.html">my accout</a></li>
                <li><a href="register.html">register</a></li>
                <li><a href="details.html">prices</a></li>
                <li class="selected"><a href="contact.html">contact</a></li>
            </ul>
        </div>


    </div>


    <div class="center_content">
        <div class="left_content">